europass:before{
    display:block;
    font-weight:bold;
    font-size:200%;
    content:"Europass";
    padding-left:20px;
    padding-bottom:20px;
    padding-top:15px;
    color:white;
    background-color:#61A1CB;

}

europass{
    display:block;
    background-color:white;
}

personalInformation:before{
    display:block;
    padding-left:20px;

    font-family:Zapf-Chancery, cursive;
    font-weight:bold;
    content:"Personal Information";
    background-color:#61A1CB;
    color:white;
    line-height:400%;
}
personalInformation{
    display:block;
    margin:2em 1em;
    background-color:white;
}

name:before{
    display:block;
    padding-left:20px;

    font-family:cursive;
    font-weight:bold;
    content:"Name";
    color:gray;
    margin-bottom:10px;
    border-bottom:solid 1px;
    border-top:solid 1px;
    border-color:gray;
}
name{
    border-color:gray;
    border-style:solid;
    border-width:1px;

    display:block;
    padding-top:20px;
    background-color:#F9F9F9;
    padding-bottom:20px;
}

firstname:before{
    content:oxy_label(text, "First Name ", styles, "color:#535353;font:bold;font-size:15px;");
    padding-right:10px;
    padding-left:20px;
}
firstname{
    display:block;
    content:oxy_textfield(edit, "#text", columns, 20);
    visibility:-oxy-collapse-text;

}

surname:before{
    content:oxy_label(text, "Last Name", styles, "color:#535353;font:bold;font-size:15px");
    padding-right:10px;
    padding-left:20px;
}
surname{
    content:oxy_textfield(edit, "#text", columns, 20);
    visibility:-oxy-collapse-text;

}
Adress:before{
    display:block;
    padding-left:20px;

    font-family:cursive;
    font-weight:bold;
    content:"Address";
    color:gray;
    margin-bottom:10px;
    border-bottom:solid 1px;
    border-color:gray;
}
Adress{
    border-color:gray;
    border-style:solid;
    border-width:1px;

    display:block;

    background-color:#F9F9F9;
    padding-bottom:20px;

}

street:before{
    content:oxy_label(text, "Street", styles, "color:#535353;font:bold;font-size:15px;");
    padding-right:48px;
    padding-left:20px;
}
street{
    display:block;
    content:oxy_textfield(edit, "#text", columns, 20);
    visibility:-oxy-collapse-text;

}



number:before{
    content:oxy_label(text, "Number", styles, "color:#535353;font:bold;font-size:15px;");
    padding-right:32px;
    padding-left:20px;
}
number{
    display:block;
    content:oxy_textfield(edit, "#text", columns, 4);
    visibility:-oxy-collapse-text;

}


postalCode:before{
    content:oxy_label(text, "Postal Code", styles, "color:#535353;font:bold;font-size:15px;");
    padding-right:3px;
    padding-left:20px;
}
postalCode{
    display:block;
    content:oxy_textfield(edit, "#text", columns, 8);
    visibility:-oxy-collapse-text;

}

city:before{
    content:oxy_label(text, "City", styles, "color:#535353;font:bold;font-size:15px;");
    padding-right:64px;
    padding-left:20px;
}
city{
    display:block;
    content:oxy_textfield(edit, "#text", columns, 20);
    visibility:-oxy-collapse-text;

}

country:before{
    content:oxy_label(text, "Country", styles, "color:#535353;font:bold;font-size:15px;");
    padding-right:30px;
    padding-left:20px;
}
country{

    display:block;
    content:oxy_textfield(edit, "#text", columns, 20);
    visibility:-oxy-collapse-text;

}
telephone:before{
    display:block;
    padding-left:20px;

    font-family:cursive;
    font-weight:bold;
    content:"Telephone";
    color:gray;
    margin-bottom:10px;
    border-bottom:solid 1px;
    border-color:gray;
}
telephone{
    border-color:gray;
    border-style:solid;
    border-width:1px;

    display:block;

    background-color:#F9F9F9;
    padding-bottom:20px;

}


type{

    content:oxy_combobox(edit, "@attribute", editable, false, values, "Home,Work,Mobile");
    padding-left:10px;

}


telNumber{

    content:oxy_textfield(edit, "#text", columns, 15);
    visibility:-oxy-collapse-text;

}


email:before{
    display:block;
    padding-left:20px;

    font-family:cursive;
    font-weight:bold;
    content:"E-mail";
    color:gray;
    margin-bottom:10px;
    border-bottom:solid 1px;
    border-color:gray;
}
email{
    border-color:gray;
    border-style:solid;
    border-width:1px;

    display:block;

    background-color:#F9F9F9;
    padding-bottom:20px;


}
email:after{
    padding-left:30px;
    content:oxy_textfield(edit, "#text", columns, 15);
    visibility:-oxy-collapse-text;
}




website:before{
    display:block;
    padding-left:20px;

    font-family:cursive;
    font-weight:bold;
    content:"Website";
    color:gray;
    margin-bottom:10px;
    border-bottom:solid 1px;
    border-color:gray;
}
website{
    border-color:gray;
    border-style:solid;
    border-width:1px;

    display:block;

    background-color:#F9F9F9;
    padding-bottom:20px;


}
website:after{
    padding-left:30px;
    content:oxy_textfield(edit, "#text", columns, 15);
    visibility:-oxy-collapse-text;
}





instantMessaging:before{
    display:block;
    padding-left:20px;

    font-family:cursive;
    font-weight:bold;
    content:"Instant Messenging";
    color:gray;
    margin-bottom:10px;
    border-bottom:solid 1px;
    border-color:gray;
}
instantMessaging{
    border-color:gray;
    border-style:solid;
    border-width:1px;

    display:block;

    background-color:#F9F9F9;
    padding-bottom:20px;

}


provider{

    content:oxy_combobox(edit, "@attribute", editable, false, values, "Google Talk,Skype,ICQ,MSN,Yahoo");
    padding-left:10px;

}


IMusername{

    content:oxy_textfield(edit, "#text", columns, 15);
    visibility:-oxy-collapse-text;

}

sex:before{
    display:block;
    padding-left:20px;

    font-family:cursive;
    font-weight:bold;
    content:"Sex";
    color:gray;
    margin-bottom:10px;
    border-bottom:solid 1px;
    border-color:gray;
}
sex{
    border-color:gray;
    border-style:solid;
    border-width:1px;

    display:block;

    background-color:#F9F9F9;
    padding-bottom:20px;
    
}
sex:after{

   content: oxy_checkbox(edit, "#text", values, "Female", uncheckedValues, "Female", labels, "Female") oxy_checkbox(edit, "#text", values, "Donotindicate", uncheckedValues, "Do not indicate", labels, "Do not indicate") oxy_checkbox(edit, "#text", values, "Male", uncheckedValues, "Male", labels, "Male");
 visibility:-oxy-collapse-text;
}


dateOfBirth:before{
    display:block;
    padding-left:20px;

    font-family:cursive;
    font-weight:bold;
    content:"Date of birth";
    color:gray;
    margin-bottom:10px;
    border-bottom:solid 1px;
    border-color:gray;
}
dateOfBirth{
    border-color:gray;
    border-style:solid;
    border-width:1px;

    display:block;

    background-color:#F9F9F9;
    padding-bottom:20px;
    
}

day:before{
    content:oxy_label(text, "Day", styles, "color:#535353;font:bold;font-size:15px;");
  padding-right:10px;
    padding-left:20px;
}
day{
    content:oxy_textfield(edit, "#text", columns, 5);
    visibility:-oxy-collapse-text;

}
month:before{
    content:oxy_label(text, "Month", styles, "color:#535353;font:bold;font-size:15px;");
    padding-right:10px;
    padding-left:20px;
}
month{
    content:oxy_textfield(edit, "#text", columns, 5);
    visibility:-oxy-collapse-text;

}

year:before{
    content:oxy_label(text, "Year", styles, "color:#535353;font:bold;font-size:15px;");
    padding-right:10px;
    padding-left:20px;
}
year{
    content:oxy_textfield(edit, "#text", columns, 10);
    visibility:-oxy-collapse-text;

}

nationality:before{
    display:block;
    padding-left:20px;

    font-family:cursive;
    font-weight:bold;
    content:"Nationality";
    color:gray;
    margin-bottom:10px;
    border-bottom:solid 1px;
    border-color:gray;
}
nationality{
    border-color:gray;
    border-style:solid;
    border-width:1px;

    display:block;

    background-color:#F9F9F9;
    padding-bottom:20px;

}

nationality:after{
    display:block;
    padding-left:30px;
    content:oxy_textfield(edit, "#text", columns, 20);
    visibility:-oxy-collapse-text;

}
extraFields{
    background-color:#C6E2FF;
}








